.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.container img {
  max-width: 100%;
}

.dragHandle {
  padding: 6px;
  cursor: grab;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.dragHandle:hover {
  opacity: 1;
}
